<!--
  Generated template for the InfaqPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Infaq</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

<div *ngIf="stsLogin == 0; else other_content">
<ion-row no-padding>

  <ion-col text-center>
    <button ion-button color="dark" full round (click)="inputSetoranInfaq()">Setor Infaq</button>
    <button ion-button color="secondary" full round (click)="getLaporanInfaq()">Laporan Infaq</button>
  </ion-col>
<div *ngIf="laporanFound">
  <div padding>
    <h2 style="text-align:center;">Laporan Infaq {{currentLoggedinUsername}} </h2>
        <div style="display: block">

          <canvas baseChart
                  [datasets]="barChartData"
                  [colors]="chartColors"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>


    <ion-item *ngFor="let item of dataLaporan.data">
        {{item.bulan}} : Rp.  {{item.total | separator}}
      </ion-item>
        <h2 ion-text color="dark">Total Rp.{{dataLaporan.total_all | separator}}</h2>
  </div>

</div>
</ion-row>
</div>

<ng-template #other_content>Please Login First</ng-template>
</ion-content>
